body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 250px 2fr;
    grid-template-rows: 150px 4fr;
}

.header {
    grid-row: 1/2;
    grid-column: 2/3;
    box-shadow: 5px 5px 5px rgb(196, 195, 195);
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 60px 75px;
}

input[type='search'] {
    height: 25px;
    width: 75px;
    background-color: rgba(213, 219, 225, 0.802);
    border: none;
    border-radius: 10px;
}

input[type='search']:focus {
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: rgb(9, 165, 238);
    color: white;
    border: none;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(9, 165, 238);
}

.sidebar>ul,
.sidebar>ul>li,
.sidebar-title {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgba(213, 219, 225, 0.802);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 285px;
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    padding: 0 30px 60px 30px;
}

.card {
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(196, 195, 195);
    border-left: solid rgb(255, 188, 64) 7px;
    padding-left: 20px;
    padding-top: 10px;
}

.card>p>b {
    color: black;
    font-family: sans-serif;
}

p {
    color: grey;
    font-family: sans-serif;
    font-size: 13px;
}

.misc-content {
    grid-column: 3/4;
    grid-row: 1/4;
}

.announcement-card {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(196, 195, 195);
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    height: 300px;
}

.trending-card {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(196, 195, 195);
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    height: 300px;
}